<div>
    <form method="post" class="mt-4">
        <div class="form-group">
            <label for="exampleInputEmail1">Từ khóa</label>
            <input type="text" name="q" class="form-control" id="exampleInputSearch1" aria-describedby="searchHelp" placeholder="Enter search">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>